h1,h2,h3,h4 {
  color: black;
  background-color: gainsboro;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: cadetblue;
  text-align: center;
}

li {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: coral;
  text-align: center;
  list-style: none;
}

img {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}